.ghosta--root {
  --ba-bg-panel: #fff;

  --ba-text-close-button: #666;
  --ba-bg-close-button: transparent;
  --ba-bg-close-button\:hover: rgba(0, 0, 0, 0.1);
  --ba-bg-backdrop: rgba(0, 0, 0, 0.3);

  --ba-text-icon: #000;
  --ba-bg-icon: rgba(0, 0, 0, 0.05);

  --ba-text-title: #000;
  --ba-text-description: #888;

  --ba-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ghosta {
  position: fixed;
  z-index: 999;
  inset: 0;
  padding: 16px;
  overflow-y: auto;
}

.ghosta__scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.ghosta__panel {
  position: relative;
  z-index: 1;
  background-color: var(--ba-bg-panel);
  width: 100%;
  border-radius: 16px;
  font-family: var(--ba-font-family);
}

.ghosta--sm .ghosta__panel {
  max-width: 400px;
}
.ghosta--md .ghosta__panel {
  max-width: 500px;
}
.ghosta--lg .ghosta__panel {
  max-width: 600px;
}

.ghosta__content,
.ghosta__header,
.ghosta__footer {
  padding: 24px 36px;
}

.ghosta__footer {
  padding-top: 12px;
}

.ghosta__content {
  display: flex;
  flex-direction: column;
  text-align: inherit;
}

.ghosta__nocontent {
  height: 28px;
}

.ghosta__content__icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ba-text-icon);
  background-color: var(--ba-bg-icon);
  border-radius: 100%;
  margin-top: 16px;
  margin-bottom: 26px;
}
.ghosta__content__icon svg {
  width: 48px;
  height: 48px;
}

.ghosta__content__title,
.ghosta__header__title {
  color: var(--ba-text-title);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 0;
}

.ghosta__content__desc,
.ghosta__header__desc {
  color: var(--ba-text-description);
  font-size: 16;
  font-weight: 400;
}

.ghosta__content__desc + .ghosta__content__content,
.ghosta__content__title + .ghosta__content__content {
  margin-top: 16px;
}

.ghosta__header {
  padding-bottom: 0;
}

.ghosta__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.ghosta__backdrop {
  position: fixed;
  z-index: -1;
  inset: 0;
  background-color: var(--ba-bg-backdrop);
}

/********** Icon Button **********/
.ghosta__close-button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 12px 12px -16px auto;

  color: var(--ba-text-close-button);
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.ghosta__close-button:hover {
  background-color: var(--ba-bg-close-button\:hover);
}

/********** Button **********/
.ghosta__button {
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.ghosta__button__spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghosta__button__spinner > svg {
  width: 20px;
  height: 20px;
}

/* Button Variants */
.ghosta__button--default {
  color: #000;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.15);
}
.ghosta__button--default:hover {
  background-color: #eee;
}

.ghosta__button--primary {
  color: #fff;
  background-color: #3b82f6;
}
.ghosta__button--primary:hover {
  color: #fff;
  background-color: #2563eb;
}

.ghosta__button--success {
  color: #fff;
  background-color: #22c55e;
}
.ghosta__button--success:hover {
  color: #fff;
  background-color: #16a34a;
}

.ghosta__button--danger {
  color: #fff;
  background-color: #ef4444;
}
.ghosta__button--danger:hover {
  color: #fff;
  background-color: #dc2626;
}

/* Button Size */
.ghosta__button--sm {
  border-radius: 6px;
  padding: 0px 12px;
  height: 34px;
  font-size: 14px;
}
.ghosta__button--md {
  border-radius: 8px;
  padding: 0px 16px;
  height: 40px;
  font-size: 16px;
}
.ghosta__button--lg {
  border-radius: 10px;
  padding: 0px 24px;
  height: 46px;
  font-size: 16px;
}

/* Button Extra Modifiers */
.ghosta__button--filled {
  flex: 1;
}

/********** Utils **********/
.ghosta__text--left {
  text-align: left;
}
.ghosta__text--right {
  text-align: right;
}
.ghosta__text--center {
  text-align: center;
}

.ghosta__align-start {
  align-items: flex-start;
}
.ghosta__align--end {
  align-items: flex-end;
}
.ghosta__align--center {
  align-items: center;
}
